---
layout: default
title: Nilenso Systems
---
<!-- Render partial -->
<div class="logo-section section">
  <img alt="nilenso systems logo" class="nilenso-logo" src="/images/nilenso-systems-vertical-400.png">
  <img alt="nilenso systems logo (narrow)" class="nilenso-logo-narrow" src="/images/nilenso-systems-vertical-narrow-400.png">
</div>

<div class="bordered-section">
  <h1 class="section-content">nilenso systems is an open-source consulting firm based out of Bangalore. We build
    high-quality, low-level software running in the speakers, planes, robots and parking garages around you.
  </h1>
</div>

<div id="projects" class="section">
  <h2 class="section-heading">Projects</h2>
  <div class="section section-content">
    We have successfully delivered projects to customers spanning diverse sectors and verticals.
  </div>

  <div class="casestudies bordered-section">
    {% for client in site.data.clients %}
    <a class="person-link casestudy-client-logo"{% if client.url %} href="{{ client.url }}" target="_blank" {% endif %}>
      <img class="testimonial-logo grayscale"
	   src="/images/clients/{{ client.logo }}"
	   alt="{{ client.text }}"
	   title="{{ client.text }}" />
    </a>
    {% endfor %}
  </div>
</div>

<div id="contact" class="section">
  <h2 class="section-heading">Contact</h2>

  <div class="section-content bordered-section">
    We'd love to hear from you. Reach us at <a href="mailto:hello@nilenso.systems">hello@nilenso.systems</a>.
  </div>
</div>
