<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <!-- Mobile-friendly -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bullseye.js"></script>
    <script type="text/javascript" src="/js/jquery.navobile.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollnav.js"></script>

    <!-- Styles -->
    <link href="/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/nilenso.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/jquery.navobile.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/scrollnav.css" media="screen" rel="stylesheet" type="text/css" />

    {% for css in page.styles %}
    <link href="/css/{{ css }}" media="screen" rel="stylesheet" type="text/css" />
    {% endfor %}

    <!-- Fonts -->
    <link href="/font/stylesheet.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header class="nilenso-header">
      <div class="header-logo">
        <img class="header-logo-image" src="/images/nilenso-systems-200.png" alt="nilenso systems logo" />
        <a class="header-link logo-name" href="/">nilenso systems</a>
      </div>

      {% include navigation.html %}
    </header>

    <div class="content">
      {{ content }}
    </div>

    <script>
      $(document).ready(function() {
        // open external links in new tabs
        var host = window.location.hostname;
        $("body").on("click", "a", function() {
          if (this.protocol.indexOf("http") == 0 && this.hostname != host) {
            window.open(this.href, "_blank");
            return false;
          } else {
            return true;
          }
        });

        $('.page-links').navobile({
          'content': '.content',
          'cta': '.show-navigation',
          'changeDOM': true
        });
        new ScrollNavigation({
          pageSectionSelector: ".navigableSection",
          viewportOffsetTop: 200,
          viewportOffsetHeight: -500
        });
      });
    </script>
  </body>
</html>
